* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background-color: #4C4C4C;
}
header .container {
  display: flex;
  margin: 0 auto;
  width: 75%;
  padding: 20px 0;
}
header .logo {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
header nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #4C4C4C;
}
header nav .nav-menu {
  display: block;
  margin-top: 10px;
}
header nav .nav-menu ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
}
header nav .nav-menu ul a {
  color: #ffffff;
  font-weight: bold;
}
header nav .nav-menu ul a:hover {
  text-decoration: underline;
  color: #f67831;
  transition: 1s;
}
header .sing-up {
  margin-left: 18%;
}
header .sing-up button {
  background-color: #4C4C4C;
  color: white;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  border-top: 2px solid #eb3c5a;
  border-bottom: 2px solid #f67831;
  width: 155px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
}
header .sing-up button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  transition: 1s;
  color: #111111;
}

.about {
  position: relative;
}
.about .ab {
  position: absolute;
  top: 40%;
  left: 35%;
}
.about .ab h2 {
  margin-left: 34%;
  color: white;
  /* position: absolute; */
  font-size: 70px;
}

.karusel {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 30vh;
  width: 100%;
  padding: 5% 0;
}
.karusel .swiper {
  width: 100%;
  height: 100%;
}
.karusel .swiper-wrapper {
  margin-top: -3%;
}
.karusel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.karusel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section {
  background-color: #111111;
}
.footer-section .row {
  display: flex;
  gap: 12%;
  padding: 50px 250px;
  color: #ffffff;
  line-height: 40px;
  margin-top: -4px;
}
.footer-section .row span {
  color: #f15d44;
  font-size: 14px;
}
.footer-section .subscribe-option-set-bg {
  display: flex;
  margin: 0 auto;
  width: 76%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  gap: 250px;
}
.footer-section .copyright-text {
  display: flex;
}
.footer-section .copyright-text ul {
  display: flex;
}
.footer-section .so-text {
  float: left;
  padding: 36px 45px;
}
.footer-section .so-text h4 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 24px;
}
.footer-section .so-text p {
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
}
.footer-section .subscribe-form {
  float: right;
  width: 340px;
  position: relative;
  margin: 37px 0;
  display: flex;
}
.footer-section input {
  width: 100%;
  height: 46px;
  font-size: 14px;
  color: #bdbdbd;
  border: 1px solid #ffffff;
  padding-left: 22px;
}
.footer-section button {
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  border: none;
  height: 47px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 22px;
}
.footer-section .copyright-text {
  color: #ffffff;
  padding: 50px 0;
  gap: 8px;
  margin: 0 auto;
  width: 75%;
}
.footer-section .copyright-text span {
  margin-right: 20px;
}
.footer-section ul {
  color: #ffffff;
}
.footer-section .footer-social {
  margin-left: 70px;
  margin-top: -10px;
}
.footer-section .footer-social a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  background: #282828;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.footer-section .footer-social a:hover {
  background: linear-gradient(to right, #eb3c5a, #f67831);
  transform: rotate(360deg);
  transition: 1s;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #F1F2F3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.product {
  width: 77%;
  margin: 0 auto;
  padding-top: 23px;
}
.product__title {
  font-size: 36px;
  line-height: 1.1;
}
.product__lists {
  padding-top: 30px;
  padding-bottom: 63px;
}
.product__lists .product__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.product__lists .product__list-info {
  font-size: 15px;
  line-height: 1.2;
  opacity: 0.6;
}
.product__lists .product__list .product__list-info:hover {
  border-bottom: 1px solid #000;
  transition: all linear 0.35s;
  cursor: pointer;
}
.product .product_carts {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.product .product_carts .product__box {
  position: relative;
}
.product .product_carts .product__box .quick__btn {
  position: absolute;
  z-index: 10;
  left: 23%;
  top: 80%;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  align-items: center;
  width: 140px;
  height: 40px;
  border: none;
  color: #333;
  display: none;
}
.product .product_carts .product__box .quick__btn-text {
  font-size: 16px;
}
.product .product_carts .product__box .quick .quick__btn:hover {
  background-color: #000;
  color: #fff;
}
.product .product_carts .product__box-image {
  width: 280px;
  height: 200px;
}
.product .product_carts .product__box-title {
  opacity: 0.5;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inline-block;
}
.product .product_carts .product__box-title:hover {
  color: #717fe0;
  opacity: 1;
  transition: all linear 0.2s;
  cursor: pointer;
}
.product .product_carts .product__box-price {
  font-size: 14px;
  opacity: 0.9;
}
.product .product_carts .product__box-icon {
  position: absolute;
  left: 92%;
  top: 88.5%;
}
.product .product_carts .product__box-icon .product__box-heart1 {
  display: none;
}
.product .product_carts .product__box-icon .product__box-heart2 {
  position: absolute;
  left: 0%;
  top: 0%;
  display: none;
}
.product .product_carts .product__box img:hover {
  transform: scale(1.1);
  transition: all linear 0.35s;
  cursor: pointer;
}

.productImg {
  position: relative;
  width: 270px;
  height: 250px;
  overflow: hidden;
}

#button {
  display: inline-block;
  background: linear-gradient(to right, #eb3c5a, #f67831);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */