* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
header {
    background-color: #4C4C4C;
    // padding: 16px;

    .container {
        display: flex;
        // gap: 30%;
        margin: 0 auto;
        width: 75%;
        padding: 20px 0;

    }

    .logo {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }

    nav {
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color: #4C4C4C;

        .nav-menu {
            display: block;
            margin-top: 10px;

            ul {
                display: flex;
                gap: 30px;
                font-size: 18px;

                a {
                    color: #ffffff;
                    font-weight: bold;
                    // text-decoration: underline;
                }
                a:hover{
                    text-decoration: underline ;
                    color: #f67831;
                    transition: 1s;
                    
                }
            }
        }
    }

    .sing-up {
        margin-left: 18%;

        button {
            background-color: #4C4C4C;
            color: white;
            border-left: 2px solid #eb3c5a;
            border-right: 2px solid #f67831;
            border-top: 2px solid #eb3c5a;
            border-bottom: 2px solid #f67831;
            width: 155px;
            height: 45px;
            font-size: 16px;
            font-weight: 500;
        }
        button:hover{
            cursor: pointer;
            background: linear-gradient(to right, #eb3c5a, #f67831);
            transition: 1s;
            color: #111111;
        }
    }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.about{
    // background-image: url(https://preview.colorlib.com/theme/gutim/img/breadcrumb/classes-breadcrumb.jpg);
    // background-image: url(https://preview.colorlib.com/theme/gutim/img/hero-bg.jpg);
    position: relative;
    .ab{
        position: absolute;
        top: 40%;
        left: 32%;
       h2{ margin-left: 34%;
    color: white;    
   

    /* position: absolute; */
    // margin-top: -10%;
    font-size: 70px;
}
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contact{
    margin-bottom: 7%;
    margin-top: 7%;
}
.contacts{
    margin: 0 auto;
    width: 80%;
    display: flex;
}
.contacts-us{
    margin-right: 3%;
    .icon{
        height: 74px;
        width: 74px;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        text-align: center;
        line-height: 94px;
        float: left;
        margin-right: 28px;
    }
    .word{
        margin-top: 4%;
        width: 36vh;
        h5{
        color: #bdbdbd;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 100;
    }
    p{
        margin-bottom: 0;
    color: #111111;
    font-size: 18px;
    }
    }
}
.con{
    h4{
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 47px;
    font-size: 24px;
}
}
.location{
    display: flex;
    padding: 0 0 5% 0;
}
.phone{
    display: flex;
    padding: 0 0 5% 0;
}
.mail{
    display: flex;
}
.leaves{
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 47px;
    font-size: 24px;

}
.inputt{
    width: 120vh;
    input{
    width: 44%;
    height: 51px;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}
textarea{
    width: 93%;
    border-color: #bdbdbd;
    font-size: 19px;
    padding: 12px;
}
}
button {
    width: 24%;
    height: 7vh;
    font-size: 16px;
    color: #ffffff;
    // line-height: 26px;
    background: linear-gradient(to right, #eb3c5a, #f67831);
    border: none;
    // padding: 0% 0% 0% 0%;
  
}

button:hover {
    cursor: pointer;
}
.iinput{
margin-top: 3%;
}
////////////////////////////////////////////
.footer-section {
    background-color: #111111;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: top center;

    .row {
        display: flex;
        gap: 12%;
        padding: 50px 250px;
        color: #ffffff;
        line-height: 40px;
        margin-top: -4px;

        span {
            color: #f15d44;
            font-size: 14px;
        }
    }

    .subscribe-option-set-bg {
        display: flex;
        margin: 0 auto;
        width: 76%;
        // background-color: #111111;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        gap: 250px;

    }

    .copyright-text {
        display: flex;

        ul {
            display: flex;
        }

         
    }

    .so-text {
        float: left;
        // padding: 34px 0 26px;
        padding: 36px 45px;

        h4 {
            color: #ffffff;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 6px;
            font-size: 24px;
        }

        p {
            margin-bottom: 0;
            font-size: 14px;
            color: #ffffff;
        }
    }

    .subscribe-form {
        float: right;
        width: 340px;
        position: relative;
        margin: 37px 0;
        display: flex;
    }

    input {
        width: 100%;
        height: 46px;
        font-size: 14px;
        color: #bdbdbd;
        border: 1px solid #ffffff;
        padding-left: 22px;
    }

    button {
        font-size: 18px;
        color: #ffffff;
        // background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
        background: -o-linear-gradient(left, #eb3c5a, #f67831);
        background: linear-gradient(to right, #eb3c5a, #f67831);
        border: none;
        height: 47px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 22px;
    }

    .copyright-text {
        color: #ffffff;
        padding: 50px 0;
        gap: 8px;
        margin: 0 auto;
        width: 75%;

        span {
            margin-right: 20px;
        }
    }

    ul {
        color: #ffffff;
    }

    .footer-social {
        margin-left: 70px;
        margin-top: -10px;

        a {
            display: inline-block;
            font-size: 16px;
            color: #ffffff;
            width: 40px;
            height: 40px;
            background: #282828;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
        }

        a:hover {
            background: linear-gradient(to right, #eb3c5a, #f67831);
            transform: rotate(360deg);
            transition: 1s;

        }
    }
}
////////////////////////////
.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #F1F2F3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  ///////////////////////////////////////////////////////////////////////////
  //button
#button {
    display: inline-block;
    background: linear-gradient(to right, #eb3c5a, #f67831);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility:visible;
}
